
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Mvc Kamp Tablo Örneği - Kategori</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Adı</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>
